@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-fundo: #f4efcb;
    --cor-fonte: #000000;
    --cor-selection: #f0db4f;
}

* {
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.principalText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
}

img{
    max-width: 100%;
    height: auto;
}

h1{
    color: var(--cor-fonte);
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 8px;
}

select{
    cursor: pointer; 
    appearance: none;
    min-width: 200px;
    height: 40px;
    background-color: var(--cor-selection);
    border: 1px solid var(--cor-fonte);
    border-radius: 10px;
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 20px;   
}

select option{
    background-color: var(--cor-selection);
    min-width: 200px;
}

textarea {
    width: 100%;
    max-width: 300px;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--cor-fonte);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    resize: vertical;
    overflow: auto;
    resize: none;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: var(--cor-selection);
    border-radius: 5px;
}

@media only screen and (max-width: 576px) {
    body {
        padding: 10px; 
    }

    h1 {
        font-size: 1.2em;
    }

    select, textarea {
        max-width: 250px;
    }
}